img{
    width: 10%;
    
}
h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.para {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5;
}
.join{
    text-align: center;
}
.btn-primary{
    background-color: #3b0de2;
    opacity: 1.5;
    
}
h5{
text-align: center;
font-family: 'Roboto', sans-serif;
padding:0;
}

.number{
    color: #33CBFF;
    font-weight: bold;
}



   
